/*============= Sidebar ==============*/
.main-section {
    display: flex;
  }
  
  .sidebar {
    width: 10%;
    position: fixed;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .main-dashboard {
    width: 90%;
    margin-left: 10%;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .sidebar header {
    display: flex;
    flex-direction: column;
    font-family: "Satisfy", cursive;
    font-size: larger;
    padding: 1.6em;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .sidebar img {
    width: 2.5em;
    height: 2.5em;
  }
  
  .header-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin: 1em;
  }
  
  .sidebar-icon:hover {
    cursor: pointer;
    background-color: #dde6ed;
  }
